    body {
            font-family: Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('./img/FB_IMG_1745912255558~2.jpg'); /* Replace with your image URL */
            background-size: initial;
            background-position: center;
            transition: background-color 1.1ms;
            color: rgb(202, 195, 195);
            cursor:grab
        }

        .Box1 {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(105, 11, 11, 0.5);
        }

        h1 {
            color: #7c4f4f;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #bcc4bc;
            color: rgb(12, 2, 2);
            transition: background-color 1.1s;
            position:relative;
        }

        button:playing {
            background-color: #0056b3;
        }